@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html{
  scroll-behavior: smooth;
}
body{
  background: #ddd;
}
*::-webkit-scrollbar{
  background: #c2c2c2;
  width: 5px;
}
*::-webkit-scrollbar-thumb{
  background: #222;
  border-radius: 5px;
}